#perfil-top-content {
    display: flex;
    align-items: center;

    div {
        margin-left: 15px;
    }
}

[contenteditable] {
    outline: 0px solid transparent;
}

.selectable {
    cursor: pointer;
    transition: opacity .5s ease-out 100ms;
}

.selectable:hover {
    opacity: .5;
}


.hidden {
    display: none;
}

ion-card-title {
    display: inline;
}

ion-card-content {
    color: var(--ion-color-light-contrast);
    font-weight: 400;
    font-size: medium;
    text-align: justify;
}

ion-avatar {
    transition: opacity .5s ease-out 100ms;
}

ion-avatar:hover {
    opacity: .5;
}

ion-avatar.online {
    border: 2px solid var(--ion-color-success) !important;
}

ion-avatar.offline {
    border: 2px solid var(--ion-color-danger) !important;
}


.highlight {
    text-align: inherit !important;
    position: relative;
    color: var(--ion-color-primary);
    font-weight: 500;
}

.highlight:after{
   content:" ";
   display: block;
   width: 100%;
   position: absolute;
   height: 1px;
   bottom: -2px;
   left: 0;
   background-color: var(--ion-color-primary);
   transform: scaleX(0);
   transform-origin: bottom right;
   transition: transform 0.3s;
   animation-name: unsaved;
   animation-iteration-count: infinite;
   animation-duration: 1s;
}

@keyframes unsaved {
    to {
        transform-origin: bottom left;
        transform: scaleX(1);
    }
}

/*
@media(min-width: 768px) {
  ion-content {
      max-width: 768px;
      margin-left: 50px !important;
  }
}
*/