<ion-header>
  <ion-toolbar>
    <ion-title>Términos de Condiciones</ion-title>
    <ion-buttons slot="end" (click)="returnApp()">
      <ion-icon name="close-circle-outline" class="close-icon"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="politics ion-padding">
  <h1 class="firstSectionTitle">Política de Privacidad</h1>
  <h2 class="ion-margin-bottom">¡Bienvenido a Muévete!</h2>
  <p></p>
  <p>
    Es compromiso de <span class="name">Muévete</span> el respeto de la
    privacidad de los usuarios y la protección y seguridad de tus datos
    personales. Por ello, para nosotros es muy importante informarte sobre la
    forma en que recabamos, tratamos y protegemos los datos de carácter personal
    que nos son facilitados a través de nuestra página web, redes sociales y
    aplicación.
  </p>
  <p>
    La utilización de la página web de <span class="name">Muévete</span>, así
    como de su aplicación no está dirigida a menores de 14 años y, por
    consiguiente, éstos deberán abstenerse de facilitar cualquier información de
    carácter personal. En este sentido,
    <span class="name">Muévete</span> recomienda la utilización de su página web
    y de su aplicación a personas mayores de 18 años. Para ello,
    <span class="name">Muévete</span> se reserva el derecho a comprobar en
    cualquier momento la edad de los usuarios de su página web y de su
    aplicación.
  </p>
  <p class="endSection">
    Las enmiendas específicas locales a las que se hace referencia a
    continuación también se aplican a los consumidores de esos territorios y, en
    algunos casos, pueden establecer normas diferentes debido a las leyes,
    normas y reglamentos locales aplicables. De ser así, la enmienda específica
    local regirá en caso de conflicto
  </p>
  <h2 class="ion-margin-bottom">
    ¿Quién es el responsable en el tratamiento de datos personales?
  </h2>
  <p>
    El tratamiento de los datos es llevado a cabo por y en nombre de
    <span class="name">Muévete</span>, S.L. (en adelante, “Muévete”), que
    recopiló tus datos, con domicilio en …………………………………, C.P. 18001, Granada
    (España), provista de NIF…………….
  </p>
  <p>
    Si deseas ponerte en contacto con nosotros para resolver cualquier duda, por
    favor escribe un email a <span class="email">privacidad@muevete.com</span>.
  </p>
  <p class="endSection">
    Te informamos que cuando a través de nuestra página web o de nuestra
    aplicación realices algún comentario en redes sociales, el responsable de
    los datos que facilites a través de las mismas será la red social
    correspondiente y no <span class="name">Muévete</span>, debiendo dirigirte a
    dicha red social para ejercer, en su caso, tus derechos de protección de
    datos que puedes consultar en el apartado “Conoce tus derechos de protección
    de datos” de la presente política de privacidad.
  </p>
  <h2 class="ion-margin-bottom">
    ¿Cuándo y cómo recabamos tus datos personales?
  </h2>
  <p>
    <span class="name">Muévete</span> recaba y trata datos de carácter personal
    tanto de usuarios que se hayan registrado en nuestra página web o en nuestra
    aplicación, como de usuarios que, no habiéndose registrado, naveguen en
    ellas o las consulten.
  </p>
  <p>
    De esta manera, <span class="name">Muévete</span> obtiene y utiliza los
    datos de la IP y demás identificadores proporcionados por el dispositivo
    desde el que navegues por nuestra página web o por nuestra aplicación, a la
    vez que recaba los datos que proporcionas en el momento de registrarte como
    «Usuario» de <span class="name">Muévete</span>, así como aquellos datos
    obtenidos como consecuencia de tu navegación, solicitudes, publicaciones,
    conversaciones, búsquedas, compras, valoraciones de otros usuarios,
    participación en concursos y los datos derivados, en su caso, de la
    vinculación de tu registro en nuestra página web o en nuestra aplicación con
    tu cuenta en Facebook o Google.
  </p>
  <p class="endSection">
    Adicionalmente, si nos das tu consentimiento
    <span class="name">Muévete</span> también tratará la ubicación a través del
    GPS de tu dispositivo para informarte de los productos que tienes más cerca,
    permitiéndote así disfrutar de nuestros servicios de manera completa.
  </p>
  <h2 class="ion-margin-bottom">¿Qué tipo de datos personales recabamos?</h2>
  <p>
    Las categorías de datos que recogemos dependen de tu actividad e interacción
    con <span class="name">Muévete</span> a través de página web, aplicación y
    redes sociales. Asimismo, <span class="name">Muévete</span> solamente
    recabará datos personales que sean necesarios para las finalidades que
    llevamos a cabo. Los siguientes datos pueden ser recogidos:
  </p>
  <ul class="endSection">
    <li>
      <span class="name">Categorías de datos:</span> Datos de registro
      (Información recopilada cuando utilizas la página web y la aplicación de
      <span class="name">Muévete</span> con fines exclusivamente informativos -
      Información relativa a tu uso del sitio web)
    </li>
    <li>
      <span class="name">Datos recogidos:</span> Nombre y apellidos, correo
      electrónico, fecha de nacimiento. En consonancia con la elección de
      cookies proporcionada (siempre y cuando sea aplicable), cuando utilizas
      nuestra plataforma únicamente con fines informativos (por ejemplo, no te
      registras en la plataforma, no compras a través de ella ni envías tus
      datos de otro modo), tu navegador de Internet recopila automáticamente, y
      nos transfiere, cierta información básica relacionada con tu uso de la
      plataforma. Dichos datos de registro pueden incluir el tipo y la versión
      de tu navegador, tu sistema operativo e interfaz, el dispositivo
      utilizado, la preferencia de idioma, el sitio web desde el que nos visitas
      (URL de referencia), la(s) página(s) que visitas en nuestras plataformas,
      la fecha y la hora de tu visita, parte de tu dirección de protocolo de
      Internet (IP), tus acciones realizadas en las plataformas y el nombre de
      tu proveedor de acceso.
    </li>
    <li>
      Asimismo, te informamos que determinadas funcionalidades de nuestra página
      web, así como de nuestra aplicación utilizan la navegación considerando tu
      ubicación para poder proporcionarte la información más relevante en cada
      caso, así como para ofrecerte ciertos servicios. Aunque la navegación
      considerando que la ubicación del GPS de tu dispositivo es siempre una
      elección del usuario, en los casos en los que rechaces la página web y/o
      la aplicación de <span class="name">Muévete</span> no podrán ofrecerte las
      funcionalidades o proporcionarte los contenidos basados en dicha
      ubicación.
    </li>
  </ul>
  <h2 class="ion-margin-bottom">
    ¿Con qué finalidades, base legitimadora y conservación tratamos tus datos
    personales?
  </h2>
  <p>
    En el caso que te hayas registrado en nuestra página web o en nuestra
    aplicación, las finalidades para las cuales trataremos tus datos de carácter
    personal son:
  </p>
  <ul>
    <li>
      <span class="name">BASE DE LEGITIMACIÓN:</span> La base de legitimación
      que habilita a <span class="name">Muévete</span> a tratar tus datos para
      la presente finalidad es tu solicitud de registro y con ella tu
      consentimiento.
    </li>
    <li>
      <span class="name">FINALIDAD:</span> Gestionar tu alta y tus preferencias
      de usuario dentro del área de usuario registrado, así como para prestarte
      los servicios de nuestra página web y/o de nuestra aplicación que hayas
      solicitado.
    </li>
    <li>
      <span class="name">PLAZO DE CONSERVACIÓN:</span> Los datos recabados para
      permitirte el registro en nuestra página web o aplicación se conservarán
      mientras no canceles tu cuenta.
    </li>
    <li>
      <span class="name">FINALIDAD:</span> Para velar por el buen uso de
      nuestros servicios y productos, impidiendo que se lleven a cabo usos
      ilícitos o contrarios a nuestra política y valores, pudiendo incluso darte
      de baja como usuario registrado
    </li>
  </ul>
  <p class="endSection">
    De manera general, cuando te des de baja como usuario registrado de
    <span class="name">Muévete</span>,
    <span class="name">Muévete</span> eliminará toda la información que tengamos
    de ti. Sin embargo, <span class="name">Muévete</span> conservará datos
    meramente estadísticos de utilización por parte de los usuarios de sus
    recursos y herramientas.
  </p>
  <h2 class="ion-margin-bottom">
    ¿Con quién compartimos tus datos personales?
  </h2>
  <p>
    <span class="name">Muévete</span> comparte datos de sus usuarios con
    terceros con la única finalidad de proporcionar los servicios y productos de
    que dispone <span class="name">Muévete</span>, además de mejorar la
    seguridad de nuestra plataforma, ayudar a prevenir el fraude y/o gestionar
    posibles disputas. Seleccionamos únicamente a los proveedores de servicios
    que ofrecen adecuadas garantías de protección de datos.
  </p>
  <p class="endSection">
    <span class="name">Muévete</span> en ningún caso comparte datos de sus
    usuarios con terceras empresas, dentro o fuera de la Unión Europea con
    finalidades distintas a la prestación del servicio sin su consentimiento
    explícito.
  </p>
  <h2 class="ion-margin-bottom">
    Conoce tus derechos en protección de datos personales.
  </h2>
  <p>
    Podrás ejercer tus derechos de acceso, rectificación, supresión, oposición,
    limitación al tratamiento y portabilidad de tus datos, así como la
    revocación, en cualquier momento, de los consentimientos, en su caso,
    prestados ante <span class="name">Muévete</span>, S.L., ………………………. , C.P.
    18001, Granada (España), provista de ………………, adjuntando fotocopia de tu DNI
    o documento identificativo válido equivalente. Para tu mayor comodidad, y
    sin perjuicio de que se deban cumplir con determinados requisitos formales
    establecidos por el Reglamento (UE) 2016/679 del Parlamento Europeo y del
    Consejo de 27 de abril de 2016 relativo a la protección de las personas
    físicas en lo que respecta al tratamiento de datos personales y a la libre
    circulación de estos datos (RGPD), <span class="name">Muévete</span>, S.L.
    te ofrece la posibilidad de ejercer los derechos antes referidos a través
    del correo electrónico: <span class="email">muévete@muevete.com</span>.
  </p>
  <p class="endSection">
    Igualmente, te recordamos la posibilidad de dirigir una reclamación ante la
    Agencia Española de Protección de Datos, especialmente cuando considere que
    Muévete no ha satisfecho debidamente el ejercicio de tus derechos. Dicha
    reclamación podrás presentarla ante la citada autoridad mediante las
    diferentes opciones que la sede electrónica de la Agencia Española de
    Protección de datos ofrece (<a
      href="https://www.aepd.es/reglamento/derechos/index.html"
      >Ver Reglamento sobre mis derecho </a
    >)
  </p>
  <h2 class="ion-margin-bottom">
    ¿Cómo ponerse en contacto con Muévete para consultas de privacidad?
  </h2>
  <p>
    Para cualquier pregunta o comentario relacionado con esta Política de
    Privacidad o con la forma en que Muévete recoge y utiliza tus Datos, también
    puedes ponerte en contacto con nuestra oficina, y correo electrónico:
    <span class="email">privacidad@muévete.com.</span>
  </p>
  <p class="endSection">
    Esta Política de Privacidad fue actualizada por última vez en mayo de 2022.
    Le informaremos de cualquier cambio sustancial que se produzca en esta
    Política de Privacidad
  </p>
</ion-content>
