.error {
  color: var(--ion-color-danger-tint);
  font-size: 0.9rem;

  ion-icon {
    vertical-align: text-top;
    padding-top: 1px;
  }
}

.errorInput {
  &::part(native) {
    border-bottom: 1px solid var(--ion-color-danger-tint);
  }
}