ion-item.message {

    margin-left: 12px;

    ion-label {

         h2 {
            font-size: .75em;
            color: var(--ion-color-primary);
            font-weight: bolder;
        }
    }

}

sup {
    font-size: 12px;
    float: right;
}