<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="unhide">{{ this.contactName }}</ion-title>
    <ion-avatar slot="start" style="width: 36px !important;  
    height : 36px !important; ">
      <img class="unhide" [src]="photo"/>
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content #content>
  <ion-list (domChange)="onDomChange($event)">
    <ion-item class="unhide" *ngFor="let message of messages">
      <ion-label [style]="(message.senderId == myself) ? 'text-align:right;' : ''" text-wrap>
        <h2 *ngIf="message.senderId != myself">{{contactName}}</h2>
        <!--<sup>{{message?.createdAt?.['seconds']*1000 | date:'short'}}</sup>-->
        <h3 style="font-size: larger;">{{message?.content}}</h3>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>



<ion-footer keyboard-attach>
  <ion-toolbar>
    <form (ngSubmit)="sendMessage()">
    <ion-item>
      <ion-input  [formControl]="msgToSend" required spellcheck="true"></ion-input>
      <ion-button type="submit" [disabled]="msgToSend.value==''" item-end>
        <ion-icon name="send-outline"></ion-icon>
      </ion-button>
    </ion-item>
    </form>
  </ion-toolbar>
</ion-footer>
