<ion-icon name="checkmark-circle-outline"></ion-icon>
<ion-popover trigger="user-verified" reference="event">
  <ng-template>
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          Verificado
          <ion-icon name="checkmark-circle-outline"></ion-icon>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content class="ion-text-left">
        Este perfil ha sido verificado por el equipo de Muévete.
      </ion-card-content>
    </ion-card>
  </ng-template>
</ion-popover>