<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="profile">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="messages">
      <ion-badge *ngIf="conversations > 0" color="danger"></ion-badge>
      <ion-icon name="chatbox-outline"></ion-icon>
      <ion-label>Chats</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="products">
      <ion-badge *ngIf="products > 0" color="danger"></ion-badge>
      <ion-icon name="grid-outline"></ion-icon>
      <ion-label>Productos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="finder">
      <ion-icon name="search-outline"></ion-icon>
      <ion-label>Buscador</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="housing">
      <ion-icon name="home"></ion-icon>
      <ion-label>Vivienda</ion-label>
    </ion-tab-button> 

    <ion-tab-button tab="administration" *ngIf="user?.isAdmin">
      <ion-icon name="cog-outline"></ion-icon>
      <ion-label>Admin</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
