<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Nuevo chat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form>
    <ion-item>
      <ion-label position="floating">Asunto</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Miembros</ion-label>
      <ion-select multiple="true" cancelText="Cancelar" okText="Hecho" [value]="[logedUser.uid]">
        <ion-select-option 
          *ngFor="let user of allUsers" 
          [value]="user?.uid"
          [disabled]="itsMe(user?.uid)"
        >
          {{itsMe(user?.uid) ? 'Tú' : user?.name }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Imagen</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col size="12" class="ion-text-center">
          <ion-button type="submit" block>Crear nuevo chat</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </form>



</ion-content>
