<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Vivienda </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Vivienda</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title
        >Acceso a la vivienda, pasillos y vestíbulos</ion-card-title
      >
      <div class="image">
        <img
          src="../../../assets/img/Photo6_housing.jpeg"
          alt="Foto de una vivienda"
        />
      </div>
    </ion-card-header>
    <ion-card-content>
      El ángulo de apertura no será inferior a 90 grados, aunque se utilicen
      topes.<br /><br />
      - La anchura mínima libre de paso en las puertas situadas en los
      itinerarios y espacios accesibles será de 0,80 metros, medida en el marco
      de la puerta y aportada por no más de una hoja. El ángulo de máxima
      apertura de la puerta, reducida por el grosor de la hoja de la puerta, no
      será inferior a 0,78 metros.<br /><br />
      - A ambas caras de la puerta, existirá espacio libre horizontal donde
      pueda inscribirse un círculo de 1,20 metros de diámetro, no barrido por
      las hojas de puerta, que deberá encontrarse al mismo nivel.<br /><br />
      - Los sistemas o mecanismos de accionamiento de apertura o cierre tales
      comos tiradores, picaportes, manillas, pulsadores u otros de análoga
      naturaleza cumplirán con las siguientes condiciones:<br />
      <div class="level-2">
        - Deberán ser utilizables por personas con dificultades en la
        manipulación y se situarán a una altura comprendida entre 0,80 y 1,20
        metros.<br />
        - Deberán ser de funcionamiento presión o palanca y maniobrables con una
        sola mano o automáticos, quedando prohibidos los pomos.<br />
        - La distancia entre el mecanismo de apertura y el encuentro en rincón,
        no será menos de 30 centímetros.<br />
        - Se separarán, como mínimo, 40 milímetros del plano de la puerta y se
        diferenciarán, de forma significativa, cromáticamente del fondo de la
        misma.<br />
      </div>
      <br />
      - Las puertas de apertura automática estarán provistas de:<br />
      <div class="level-2">
        - Mecanismo de minoración de velocidad programado de forma que no
        superen la velocidad de 0,5 metros por segundo.<br />
        - Dispositivos sensibles que impidan el cierre automático de las puertas
        mientras su umbral esté ocupado por una persona o elementos de que ésta
        asista.<br />
        - Dispositivos sensibles que las abran automáticamente en caso de
        aprisionamiento.<br />
        - Mecanismo manual de parada del sistema de apertura y cierre.<br />
      </div>
      <br />
      - Las puertas con hojas totalmente transparentes se ejecutarán con
      policarbonatos o metacrilatos, luna pulida templada de espesor mínimo 6
      milímetros o acristalamientos laminares de seguridad. Dispondrán de
      señalización horizontal en toda su longitud situada a una altura inferior
      comprendida entre 0,85 y 1,10 metros y a una altura superior comprendida
      entre 1,50 y 1,70 metros que contraste con el entorno fácilmente, para
      hacerlo perceptible a las personas con discapacidad visual. Dicha
      señalización no será necesaria si existen montantes separados a una
      distancia de 0,60 metros como máximo, o si cuenta la superficie
      acristalada al menos con un travesaño situado a la altura comprendida
      entre 0,85 y 1,10 metros.<br /><br />
      - Los pasillos en línea recta tendrán una anchura mínima de 1,10 metros,
      permitiéndose estrechamientos puntuales de 0,50 metros de longitud máxima,
      siempre que dichos estrechamientos dejen un paso libre mínimo de 1 metro
      de ancho y estén separados, como mínimo, 0,65 metros de los huecos de paso
      y de los cambios de dirección.<br /><br />
      - Cuando existan vestíbulos, deberá poder inscribirse en los mismos un
      círculo para giro de diámetro mínimo 1,50 metros libre de obstáculos.
      Pudiéndose invadir dicho círculo con el barrido de las puertas, pero
      cumpliendo las condiciones aplicables a estas.<br /><br />
      - En el interior de la vivienda no se admitirán escalones.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Terrazas, balcones y azoteas</ion-card-title>
      <div class="image">
        <img
          src="../../../assets/img/Photo4_housing.jpeg"
          alt="Foto de una terraza"
        />
      </div>
    </ion-card-header>
    <ion-card-content>
      - Se deberá asegurar la accesibilidad desde el interior al exterior de
      terrazas, balcones y azoteas y viceversa, al tiempo que se garantice la
      estanqueidad del umbral de salida. A tales efectos, la carpintería del
      hueco de salida quedará enrasada con el pavimento exterior o con un
      resalto máximo del cerco de 5 centímetros.<br /><br />
      - En el supuesto de que se dispongan tendederos, éstos estarán situados a
      una altura máxima de 1,20 metros.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title
        >Carpinterías y elementos de protección y seguridad</ion-card-title
      >
    </ion-card-header>
    <ion-card-content>
      Los sistemas de apertura y cierre de carpintería y protecciones exteriores
      tales como ventanas, persianas, u otros análogos, que deban ser
      manipulables y tengan vistas hacia el exterior se situarán a una altura
      máxima de 1,20 metros libre de obstáculos en el frente de acceso a las
      mismas.<br /><br />
      - El espacio de barrido de las hojas de las ventanas quedará fuera de las
      zonas de circulación, debiéndose colocar preferentemente ventanas de hojas
      correderas.<br /><br />
      - Los antepechos de huecos de ventanas tendrán una altura máxima de 0,60
      metros.<br /><br />
      - Los armarios empotrados no dispondrán de rodapié ni umbral, debiendo
      estar al mismo nivel su pavimento que el de la dependencia a que
      pertenezcan. Asimismo, sus puertas serán correderas, y las baldas, cajones
      y percheros se colocarán de forma que se permita su alcance a una altura
      comprendida entre 0,40 y 1,20 metros medidos desde el suelo.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Instalaciones</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      - Las griferías serán fácilmente accesibles y automáticas con sistema de
      detección de presencia o de tipo monomando con palanca alargada de tipo
      gerontológico y su distancia de alcance horizontal desde el asiento de la
      silla de ruedas será cómo máximo de 0,60 metros.<br /><br />
      - Las llaves de corte general no deben situarse por encima de 1,20 metros
      y serán accesibles y libres de obstáculos.<br /><br />
      - Los calentadores individuales instantáneos serán de encendido
      automático.<br />
      - Los mecanismos de apertura así como los receptores de portero automático
      estarán a una altura máxima de 1,20 metros.<br /><br />
      - Los interruptores, pulsadores, termostatos, cuadros eléctricos de
      protección individual u otros elementos de accionamiento, regulación y
      control deberán posibilitar su manipulación por personas con deficiencias
      de movilidad o de comunicación, prohibiendo específicamente los de
      accionamiento rotatorio. Los interruptores serán del tipo de presión, de
      gran superficie, y las tomas de corriente serán del tipo que facilite el
      machihembrado y la posibilidad de abrir y cerrar la corriente. Se
      colocarán a una altura comprendida entre 0,80 y 1,20 metros y cuando sean
      tomas de corriente o de señal entre 0,40 y 1,20 metros, facilitando su
      colocación mediante la diferenciación cromática respecto la superficie del
      entorno.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Cocinas</ion-card-title>
      <div class="image">
        <img
          src="../../../assets/img/Photo7_housing.jpeg"
          alt="Foto de un cuarto de una cocina"
        />
      </div>
    </ion-card-header>
    <ion-card-content>
      - La altura máxima desde el pavimento a las encimeras será de 0,85
      metros.<br /><br />
      - Deberá existir un espacio para giro, de diámetro mínimo 1,50 metros
      libre de obstáculos considerando el amueblamiento de la cocina y podrá
      inscribirse frente al fregadero un círculo de 1,20 metros de diámetro
      libre de todo obstáculo, entendiéndose como tales los elementos fijos,
      mobiliario y el abatimiento de las puertas.<br /><br />
      - La distancia libre de paso entre dos elementos de mobiliario entre los
      que se deba circular o entre mobiliario y paramentos no será inferior a
      0,70 metros.<br /><br />
      - Cuando la cocina esté dotada de equipamiento, éste se adaptará a las
      necesidades de las personas con movilidad reducida respecto a la altura de
      uso de los aparatos, mobiliario y otros elementos de ayuda para su
      movilidad. La grifería será fácilmente accesible y automática con sistema
      de detección de presencia o de tipo monomando con palanca alargada de tipo
      gerontológico, y se situará por encima del plano de trabajo a una altura
      entre 0,85 y 1,10 metros del pavimento dentro de la zona de alcance
      horizontal de 0,60 metros.<br /><br />
      - Bajo el fregadero y la cocina se dejará un espacio libre mínimo de 0,70
      metros de altura, 0,60 metros de fondo, y 0,80 metros de ancho, que
      permita la aproximación frontal al mismo.<br /><br />
      - Se grabarán en planos de planta y a escala 1:50, las áreas de trabajo
      formadas por frigoríficos, placas de cocina, horno, fregadero, lavadero y
      almacén o despensa, en su caso, garantizando que se permita la
      maniobrabilidad, uso y alcance de estos elementos por una persona usuaria
      de silla de ruedas.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Dormitorios</ion-card-title>
      <div class="image">
        <img
          src="../../../assets/img/Photo2_housing.jpeg"
          alt="Foto de un dormitorio"
        />
      </div>
    </ion-card-header>
    <ion-card-content>
      - Deberá disponer de un espacio para giro de diámetro mínimo 1,50 metros
      libre de obstáculos considerando el amueblamiento.<br /><br />
      - La distancia mínima entre dos obstáculos entre los que se deba circular,
      sean elementos constructivos o de mobiliario, será de 0,80 metros.<br /><br />
      - El espacio de aproximación y transferencia a un lado de la cama tendrá
      una anchura mínima de 0,90 metros.<br /><br />
      - El espacio de paso a los pies de la cama tendrá una anchura mínima de
      0,90 metros.<br /><br />
      - Los elementos de mobiliario dispondrán, a lo largo de los frentes que
      deban ser accesibles, de una franja de espacio libre de una anchura no
      inferior a 0,70 metros.<br /><br />
      - Desde la posición de acostada la persona con movilidad reducida usuaria
      deberá poder acceder y controlar, de forma autónoma, el encendido y
      apagado de la luz, del teléfono, del aire acondicionado y sistemas de
      llamada, en su caso.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Cuartos de baño</ion-card-title>
      <div class="image">
        <img
          src="../../../assets/img/Photo3_housing.jpeg"
          alt="Foto de un cuarto de baño"
        />
      </div>
    </ion-card-header>
    <ion-card-content>
      - Dispondrá de un espacio libre, no barrido por el área de apertura de las
      puertas, donde se pueda inscribir una circunferencia de 1,50 metros de
      diámetro, libre de obstáculos, que permita girar para acceder a todos los
      aparatos.<br /><br />
      - Dispondrá al menos de un inodoro, lavabo y ducha. Esta última deberá ir
      enrasada con el pavimento y tendrá unas dimensiones mínimas de 1,80 metros
      de largo por 1,20 metros de ancho, tendrá una pendiente de evacuación
      máxima del 2%. El maneral del rociador de la ducha, si es manipulable,
      estará situado a una altura comprendida entre 0,80 y 1,20 metros de
      altura. El suelo será antideslizante.<br /><br />
      - Será posible acceder frontalmente al lavabo para lo que no existirán
      obstáculos en su parte inferior, donde se dispondrá un espacio libre
      mínimo de 0,70 metros de altura y 0,50 metros de profundidad. No se
      adosarán al lavabo toalleros u otros elementos que impidan el acceso
      frontal al mismo por una persona usuaria de silla de ruedas. La cara
      superior del lavabo estará a una altura del suelo máxima de 0,85
      metros.<br /><br />
      - Habrá de ser también posible acceder lateralmente a la ducha y al
      inodoro disponiendo de un espacio de transferencia libre, de una anchura
      mínima de 0,80 metros a un lado. Se admitirá que para cumplir este
      requisito sea necesario prescindir del bidé.<br /><br />
      - La altura del asiento del inodoro estará comprendida entre 0,45 y 0,50
      metros del suelo, para ello se recomienda los inodoros de tipo suspendido.
      La tapa será abatible.<br /><br />
      - El inodoro deberá ir provisto de dos barras laterales, debiendo ser
      abatible la que posibilite la transferencia lateral.<br /><br />
      - Las barras serán de sección preferentemente circular, de diámetro
      comprendido entre 30 y 40 milímetros, separadas de la pared u otros
      elementos 45 milímetros y su recorrido será continuo. Las barras
      horizontales para las transferencias se colocarán entre 0,70 y 0,75 metros
      del suelo y su longitud será entre 20 y 25 centímetros mayor que la del
      asiento del aparato. Las barras verticales que sirvan de apoyo a un
      aparato se situarán a 30 centímetros por delante de su borde.<br /><br />
      - El inodoro deberá llevar un sistema de descarga que permita ser
      utilizado por una persona con dificultad motora en miembros superiores, a
      cuyos efectos se evitarán los fluxómetros, colocándose preferentemente
      mecanismos de descarga de palanca o de presión de gran superficie a una
      altura entre 0,70 y 1,20 metros del suelo.<br /><br />
      - La grifería será fácilmente accesible y automática, con sistema de
      detección de presencia o tipo monomando con palanca alargada de tipo
      gerontológico. El maneral del rociador de la ducha, si es manipulable,
      estará situado a una altura comprendida entre 0,80 metros y 1,20 metros de
      altura. La distancia de alcance horizontal desde el asiento de la silla de
      ruedas será menor o igual a 0,60 metros.<br /><br />
      - Los accesorios del aseo estarán adaptados para su utilización por
      personas con movilidad reducida y estarán situados a una altura
      comprendida entre 0,80 metros y 1,20 metros de altura.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Salones de estar y comedores</ion-card-title>
      <div class="image">
        <img
          src="../../../assets/img/Photo1_housing.jpeg"
          alt="Foto de un cuarto de baño"
        />
      </div>
    </ion-card-header>
    <ion-card-content>
      - Se deberá permitir en todo caso el giro de 360 grados a una persona
      usuaria de silla de ruedas, para lo que existirá un espacio libre de
      obstáculos de diámetro 1,50 metros, considerando el amueblamiento de la
      estancia.<br /><br />
      - La distancia mínima entre dos obstáculos entre los que se deban
      circular, sean elementos constructivos o de mobiliario, será de 0,70
      metros.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Enlaces</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      - <b>Recomendaciones para reformas adaptadas;</b>:<br />
      <ul>
        <li>
          <div class="level-2">
            <a
              href="https://www.entornoaccesible.es/productos-y-servicios/entorno-accesible/entorno-accesible/"
              >https://www.entornoaccesible.es/productos-y-servicios/entorno-accesible/entorno-accesible/</a
            >
          </div>
        </li>
        <li>
          <div class="level-2">
            <a
              href="https://www.habitissimo.es/presupuestos/reformas-en-viviendas-para-personas-con-discapacidad/granada/granada"
              >https://www.habitissimo.es/presupuestos/reformas-en-viviendas-para-personas-con-discapacidad/granada/granada</a
            >
          </div>
        </li>
        <li>
          <div class="level-2">
            <a
              href="https://empresite.eleconomista.es/Actividad/ADAPTACION-MINUSVALIDOS/"
              >https://empresite.eleconomista.es/Actividad/ADAPTACION-MINUSVALIDOS/</a
            >
          </div>
        </li>
      </ul>

      <br />
      - <b>Ayudas de la Junta de Andalucía</b>:<br />
      <ul>
        <li>
          <div class="level-2">
            <a
              href="https://www.juntadeandalucia.es/organismos/fomentoinfraestructurasyordenaciondelterritorio/areas/vivienda-rehabilitacion/rehabilitacion/paginas/adecua.html"
              >https://www.juntadeandalucia.es/organismos/fomentoinfraestructurasyordenaciondelterritorio/areas/vivienda-rehabilitacion/rehabilitacion/paginas/adecua.html</a
            >
          </div>
        </li>
      </ul>

      <br />
    </ion-card-content>
  </ion-card>
</ion-content>
