<ion-header translucent>
  <ion-toolbar>
    <ion-title *ngIf="action === 'create'">Crear Producto</ion-title>
    <ion-title *ngIf="action != 'create'">Modificar Producto</ion-title>
    <ion-buttons slot="end" (click)="dismissModal()" role="button">
      <ion-icon name="close-circle-outline" class="close-icon"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="productForm">
    <ion-item
      lines="full"
      [ngClass]="submitted && productForm.controls.name.errors?.required ? 'errorInput' : ''"
    >
      <ion-label
        position="floating"
        [ngClass]="submitted && productForm.controls.name.errors?.required ? 'error_color' : ''"
        >Nombre del Producto</ion-label
      >
      <ion-input
        type="text"
        formControlName="name"
        autocapitalize="on"
      ></ion-input>
    </ion-item>
    <span
      class="error ion-padding"
      *ngIf="(productForm.controls.name.touched || submitted) && productForm.controls.name.errors?.required"
    >
      <ion-icon name="alert-circle-outline"></ion-icon> El nombre no puede estar
      vacío
    </span>
    <ion-item
      lines="full"
      [ngClass]="submitted && productForm.controls.description.errors?.required ? 'errorInput' : ''"
    >
      <ion-label
        position="floating"
        [ngClass]="submitted && productForm.controls.description.errors?.required ? 'error_color' : ''"
        >Descripción del Producto</ion-label
      >
      <ion-textarea
        formControlName="description"
        required
        autocapitalize="sentences"
        autoGrow="true"
      ></ion-textarea>
    </ion-item>
    <span
      class="error ion-padding"
      *ngIf="(productForm.controls.description.touched || submitted) && productForm.controls.description.errors?.required"
    >
      <ion-icon name="alert-circle-outline"></ion-icon> La descripción no puede
      estar vacío
    </span>
    <ion-item
      lines="full"
      [ngClass]="submitted && productForm.controls.action.errors?.required ? 'errorInput' : ''"
    >
      <ion-label
        [ngClass]="submitted && productForm.controls.action.errors?.required ? 'error_color' : ''"
        >Acción</ion-label
      >
      <ion-select interface="popover" formControlName="action">
        <ion-select-option value="true">Vender</ion-select-option>
        <ion-select-option value="false">Recomendar</ion-select-option>
      </ion-select>
    </ion-item>
    <span
      class="error ion-padding"
      *ngIf="(productForm.controls.action.touched || submitted)  && productForm.controls.action.errors?.required"
    >
      <ion-icon name="alert-circle-outline"></ion-icon> Tienes que seleccionar
      alguna opción
    </span>
    <ion-item
      lines="full"
      [ngClass]="submitted && productForm.controls.price.errors?.required ? 'errorInput' : ''"
    >
      <ion-label
        position="floating"
        [ngClass]="submitted && productForm.controls.price.errors?.required ? 'error_color' : ''"
        >Precio</ion-label
      >
      <ion-input
        type="tel"
        formControlName="price"
        [disabled]="productForm.controls.action.value == 'false'"
      ></ion-input>
    </ion-item>
    <span
      class="error ion-padding"
      *ngIf="(productForm.controls.price.touched || submitted)  && productForm.controls.price.errors?.required && !productForm.controls.price.errors?.pattern"
    >
      <ion-icon name="alert-circle-outline"></ion-icon> Tienes que poner algún
      precio
    </span>
    <span
      class="error ion-padding"
      *ngIf="(productForm.controls.price.touched || submitted)  && productForm.controls.price.errors?.pattern && !productForm.controls.price.errors?.required"
    >
      <ion-icon name="alert-circle-outline"></ion-icon> Tienes que poner un
      precio correcto
    </span>
    <ion-item
      lines="full"
      class="item-image"
      [ngClass]="submitted && productForm.controls.image.errors?.required ? 'errorInput' : ''"
    >
      <ion-input
        type="file"
        class="input-image"
        formControlName="image"
        required
        (change)="getPhoto($event)"
        accept="image/*"
      ></ion-input>
      <ion-icon
        name="cloud-upload-outline"
        class="icon-image"
        [ngClass]="(productForm.controls.image.touched || submitted) && productForm.controls.image.errors?.required ? 'error_color' : ''" 
      ></ion-icon>
      <ion-label
        [ngClass]="(productForm.controls.image.touched || submitted)  && productForm.controls.image.errors?.required ? 'error_color' : ''"
        >Imagen del producto</ion-label
      >
    </ion-item>
    <span
      class="error ion-padding"
      *ngIf="(productForm.controls.image.touched || submitted)  && productForm.controls.image.errors?.required"
    >
      <ion-icon name="alert-circle-outline"></ion-icon> Tienes que poner algna imagen </span>
    <ion-item class="item-backImage"></ion-item>
    <ion-row class="item-button ion-justify-content-evenly">
      <ion-button (click)="sendProduct()" *ngIf="action === 'create'"
        >Subir Producto</ion-button
      >
      <ion-button (click)="sendProduct()" *ngIf="action != 'create'"
        >Modificar Producto</ion-button
      >
      <ion-button (click)="resetProduct()">Limpiar</ion-button>
    </ion-row>
  </form>
</ion-content>
