ion-col {
  padding: 0.6rem 0.3rem;

  
  ion-card {
    min-width: 9rem;
    max-width: 13rem;
    height: 17.75rem;
    margin: 0 auto;
    border-radius: 0.7rem;
    position: relative;
    
    ion-badge {
      position: absolute;
      font-size: 9pt;
      right: 6px;
      top: 5px;
      z-index: 10;
      border-radius: 50%;
      width: 1.55rem;
      height: 1.55rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    &-subtitle {
      margin-top: 0.5rem;
      font-size: 1.15rem;
    }
  
    &-title {
      font-size: 1.15rem;
      height: 2.9rem;
      overflow: hidden;
    }
  
    .imgContainer {
      width: 100%;
  
      img {
        height: 9.5rem;
        width: 100%;
        object-fit: cover;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}

ion-list {
  padding-left: 0;
  padding-right: 0;
}

.selected {
  color: var(--ion-color-primary);
  border-bottom: 1px solid var(--ion-color-primary);

  ion-icon {
    color: inherit;
  }
}

.close-icon {
  font-size: 2rem;
  padding-right: 0.5rem;
}

.skeleton {
  &--imgContainer {
    height: 60%;
  }

  &--image {
    height: 100%;
    width: 100%;
  }

  &--title {
    width: 50%;
    margin-right: 0;
    margin-bottom: 1.5rem;
  }

  &--subtitle {
    &__top {
      width: 90%;
      margin-bottom: 0.5rem;
    }

    &__bot {
      width: 40%;
    }
  }
}


.circle {
  width: 8px;
  height: 8px;
  background: var(--ion-color-danger);
  border-radius: 50%;
  position: absolute;
  right: 8px;
}


@media (min-width:576px) {
  ion-row {
    width: 85% !important;
    margin: auto;
  }
}

@media (min-width:768px) {
  ion-row {
    width: 75% !important;
  }
}

@media (min-width:1200px) {
  ion-row {
    width: 65% !important;
  }
}