<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-segment 
      value="options" 
      [(ngModel)]="segmentProducts" 
    >
      <ion-segment-button value="allProducts">
        Todos los productos
      </ion-segment-button>
      <ion-segment-button value="myProducts">
        Mis productos
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="dataLoaded">
    <ion-grid>
      <ion-row *ngIf="segmentProducts === 'allProducts'">
        <ion-col class="p-0 d-flex flex-row justify-content-start" *ngFor="let product of allProducts">
          <app-product class="mt-3" *ngIf="product.id" (click)="openModalShowProduct(product)" [product]="product"></app-product>
        </ion-col>
        <ion-infinite-scroll threshold="100px" (ionInfinite)="loadAllProductData($event)">
          <ion-infinite-scroll-content
            loadingSpinner="bubbles"
            loadingText="Cargado mas productos...">
          </ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </ion-row>
      <!-- <ion-row *ngIf="segmentProducts != 'allProducts'">
        <ion-col class="p-0 d-flex flex-row justify-content-start" *ngFor="let product of userProducts">
          <ion-card (click)="openModalShowProduct(product)">
            <div class="img w-100 text-center">
              <img [src]="product.image" class="mx-auto" />
            </div>
            <ion-card-header>
              <ion-card-subtitle>{{product.price ? product.price + '€' : 'Recomendado'}}</ion-card-subtitle>
              <ion-card-title>{{product.name}}</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
        <ion-infinite-scroll threshold="100px" (ionInfinite)="loadUserProductData($event)">
          <ion-infinite-scroll-content
            loadingSpinner="bubbles"
            loadingText="Cargado mas productos...">
          </ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </ion-row> -->
    </ion-grid>
  </div>
  <div *ngIf="!dataLoaded">
    <ion-grid>
      <ion-row>
        <ion-col class="p-0 d-flex flex-row justify-content-start">
          <ion-card>
            <div class="img w-100 text-center" style="height: 60%">
              <ion-skeleton-text animated class="m-0 h-100 w-100"></ion-skeleton-text>
            </div>
            <ion-skeleton-text animated style="width: 50%;" class="mt-3 mb-4 ms-3"></ion-skeleton-text>
            <ion-card-header class="py-0">
              <ion-skeleton-text animated style="width: 90%;" class="mb-2"></ion-skeleton-text>
              <ion-skeleton-text animated style="width: 40%;"></ion-skeleton-text>
            </ion-card-header>
          </ion-card>
        </ion-col>
        <ion-col class="p-0 d-flex flex-row justify-content-start">
          <ion-card>
            <div class="img w-100 text-center" style="height: 60%">
              <ion-skeleton-text animated class="m-0 h-100 w-100"></ion-skeleton-text>
            </div>
            <ion-skeleton-text animated style="width: 50%;" class="mt-3 mb-4 ms-3"></ion-skeleton-text>
            <ion-card-header class="py-0">
              <ion-skeleton-text animated style="width: 90%;" class="mb-2"></ion-skeleton-text>
              <ion-skeleton-text animated style="width: 40%;"></ion-skeleton-text>
            </ion-card-header>
          </ion-card>
        </ion-col>
        <ion-col class="p-0 d-flex flex-row justify-content-start">
          <ion-card>
            <div class="img w-100 text-center" style="height: 60%">
              <ion-skeleton-text animated class="m-0 h-100 w-100"></ion-skeleton-text>
            </div>
            <ion-skeleton-text animated style="width: 50%;" class="mt-3 mb-4 ms-3"></ion-skeleton-text>
            <ion-card-header class="py-0">
              <ion-skeleton-text animated style="width: 90%;" class="mb-2"></ion-skeleton-text>
              <ion-skeleton-text animated style="width: 40%;"></ion-skeleton-text>
            </ion-card-header>
          </ion-card>
        </ion-col>
        <ion-col class="p-0 d-flex flex-row justify-content-start">
          <ion-card>
            <div class="img w-100 text-center" style="height: 60%">
              <ion-skeleton-text animated class="m-0 h-100 w-100"></ion-skeleton-text>
            </div>
            <ion-skeleton-text animated style="width: 50%;" class="mt-3 mb-4 ms-3"></ion-skeleton-text>
            <ion-card-header class="py-0">
              <ion-skeleton-text animated style="width: 90%;" class="mb-2"></ion-skeleton-text>
              <ion-skeleton-text animated style="width: 40%;"></ion-skeleton-text>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openModalCreateProduct()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
