<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-segment 
      value="options" 
      [(ngModel)]="segmentProducts" 
    >
      <ion-segment-button value="allProducts">
        Todos los productos
      </ion-segment-button>
      <ion-segment-button value="myProducts">
        Mis productos
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row *ngIf="segmentProducts === 'allProducts'">
      <ion-col class="p-0 d-flex flex-row justify-content-start" *ngFor="let product of allProducts">
        <ion-card (click)="openModalShowProduct(product)">
          <div class="img w-100 text-center">
            <img [src]="product.image" class="mx-auto" />
          </div>
          <ion-card-header>
            <ion-card-subtitle>{{product.price ? product.price + '€' : 'Recomendado'}}</ion-card-subtitle>
            <ion-card-title>{{product.name}}</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="segmentProducts != 'allProducts'">
      <ion-col class="p-0 d-flex flex-row justify-content-start" *ngFor="let product of userProducts">
        <ion-card (click)="openModalShowProduct(product)">
          <div class="img w-100 text-center">
            <img [src]="product.image" class="mx-auto" />
          </div>
          <ion-card-header>
            <ion-card-subtitle>{{product.price ? product.price + '€' : 'Recomendado'}}</ion-card-subtitle>
            <ion-card-title>{{product.name}}</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openModalCreateProduct()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
