<ion-grid class="ion-padding-horizontal">
  <ion-row>
    <ion-col size="12" class="title">
      <h5 class="ion-text-uppercase" *ngIf="component === 'principal'">
        Los 10 usuarios más recientes
      </h5>
      <h5 class="ion-text-uppercase" *ngIf="component === 'modify'">
        Todos los usuarios
      </h5>
      <form [formGroup]="searchForm" *ngIf="component === 'modify'">
        <ion-row>
          <ion-col size="12" sizeLg="7" sizeXl="9">
            <ion-searchbar
              formControlName="searchValue"
              placeholder="Buscar por nombre o email"
            ></ion-searchbar>
          </ion-col>
          <ion-col size="12" sizeLg="5" sizeXl="3">
            <ion-item class="itemFilter">
              <ion-label>Filtrar</ion-label>
              <ion-select
                formControlName="searchFilter"
                placeholder="Todos"
                interface="popover"
                class="ion-no-padding"
              >
                <ion-select-option value="everything">Todos</ion-select-option>
                <ion-select-option value="true">Baneados</ion-select-option>
                <ion-select-option value="false">No baneados</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
      </form>
    </ion-col>
    <ion-col size="12" class="table" *ngIf="users">
      <table>
        <thead>
          <tr class="ion-text-uppercase ion-text-center">
            <th class="avatar">Avatar</th>
            <th>Nombre</th>
            <th>Email</th>
            <th class="date">Fech. Regis.</th>
            <th class="reports">Reportes</th>
            <th class="state">Estado</th>
            <th class="actions">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let user of users; trackBy: trackByFn"
            class="ion-text-center insideTr"
          >
            <td>
              <img
                [src]="user.uid | photoById | async"
                style="display: none"
                onload="this.style.display=''"
                alt="Avatar"
              />
            </td>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ showDate(user.createdAt) | date: "dd/MM/YYYY HH:mm" }}</td>
            <td>
              <ion-row class="ion-align-items-center">
                <p
                  role="button"
                  class="ion-no-margin"
                  (click)="showReports(user)"
                >
                  {{ user.reports.length }}
                  <ion-icon name="caret-down-outline"></ion-icon>
                </p>
                <ion-button [disabled]="user.reports.length == 0" (click)="notify(user.uid, user.reports.length)">Notificar</ion-button>
              </ion-row>
            </td>
            <td>
              <ion-button
                *ngIf="user.isBanned"
                color="success"
                class="buttonActionState"
                (click)="openBanUserAlert(user, 'desbanear')"
                >Desbanear</ion-button
              >
              <ion-button
                *ngIf="!user.isBanned"
                color="danger"
                class="buttonActionState"
                (click)="openBanUserAlert(user, 'banear')"
                >Banear</ion-button
              >
              <ion-button
                *ngIf="user.isVerified"
                color="success"
                class="buttonActionState"
                (click)="openVerifiedAlert(user, 'desverificar')"
              >
                Desverificar
              </ion-button>
              <ion-button
                *ngIf="!user.isVerified"
                color="danger"
                class="buttonActionState"
                (click)="openVerifiedAlert(user, 'verificar')"
              >
                Verificar
              </ion-button>
            </td>
            <td>
              <ion-button
                (click)="redirectToUserPage(user)"
                class="buttonAction"
                >Ver perfil</ion-button
              >
              <ion-button 
                (click)="openChat(user.uid)"
                class="buttonAction"
              >Contactar</ion-button>
            </td>
          </tr>
        </tbody>
      </table>
    </ion-col>
  </ion-row>
</ion-grid>
